.container {
    position: relative;

    display: block;
    overflow: hidden;

    height: 100%;

    cursor: pointer;

    border-radius: var(--base-border-radius-s);
}

.container.isVideoLoaded .previewContainer {
    opacity: 0;

    animation: none;
}

.previewContainer {
    position: absolute;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    opacity: 1;

    transition: opacity 0.15s;
}

.previewContainer.fallback {
    height: 100%;

    /* stylelint-disable-next-line realty/use-guide-variables */
    background-image: linear-gradient(90deg, #f4f4f4 20%, rgba(229, 229, 229, 0.8) 40%, #f4f4f4 60%);
    background-size: 400% 400%;
}

.previewLayer {
    position: absolute;
    inset: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.video {
    position: absolute;

    opacity: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;

    /* убирает контролы в иосе */
    &::-webkit-media-controls-panel,
    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-start-playback-button {
        display: none;
        -webkit-appearance: none;
    }
}

.canvas {
    display: block;
    width: 100%;
    height: 1005;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center center;
}